Flask
Werkzeug
flask-cors
pymongo
python-dotenv
numpy
transformers
huggingface-hub
sentence-transformers
gunicorn
# Exclude torch and torchvision as they are installed separately with CPU-only versions 